In [1]:
import pandas as pd

In [9]:
tweets = pd.read_csv('data/tweets.csv', header=None)

In [11]:
tweets.head(10)

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,1557356517166301188,1557354587291619330,2022-08-10 16:21:42 EEST,2022-08-10,16:21:42,300,494057016,barbosiki,–ö—Å–µ–Ω—è,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'saver_ag', 'name': '–≤–Ω—É—Ç—Ä—ñ—à–Ω...",NaN,NaN,NaN,NaN
1,1557356395351232513,1557303795155075072,2022-08-10 16:21:13 EEST,2022-08-10,16:21:13,300,627130715,alloizovic,buzzzzzzzz!,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'vodenergetik', 'name': '–ê–ª—ë–Ω...",NaN,NaN,NaN,NaN
2,1557356366108524545,1557354632044748807,2022-08-10 16:21:06 EEST,2022-08-10,16:21:06,300,1509905263578525718,_boffin_,Boffin,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'MelaniePodolyak', 'name': 'M...",NaN,NaN,NaN,NaN
3,1557356284063760385,1557356284063760385,2022-08-10 16:20:47 EEST,2022-08-10,16:20:47,300,1377429469,meilinjie,üåªgirasolüåª,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,1557356122264190977,1557356122264190977,2022-08-10 16:20:08 EEST,2022-08-10,16:20:08,300,1270581277779988483,marxoid1848,üá¨üáß,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
5,1557356121492525056,1557356121492525056,2022-08-10 16:20:08 EEST,2022-08-10,16:20:08,300,2233213154,baldgivitaly,–í–∏—Ç–∞–ª–∏–π –ë–∞–ª–¥–∂–∏,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
6,1557356106778828800,1557300891786567681,2022-08-10 16:20:04 EEST,2022-08-10,16:20:04,300,254039945,unsergey,Zadunaiskiy,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'buch10_04', 'name': '10 –∫–≤—ñ—Ç...",NaN,NaN,NaN,NaN
7,1557356098121879552,1557008845846757376,2022-08-10 16:20:02 EEST,2022-08-10,16:20:02,300,3031355063,krizalium,Krizalium,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'OlgaEvans46', 'name': 'Olga'...",NaN,NaN,NaN,NaN
8,1557355989480898560,1557002414699470849,2022-08-10 16:19:36 EEST,2022-08-10,16:19:36,300,1498229249882443777,chechen_heart,FreeChechnyaNow,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'vidbuduy', 'name': '–ì–∞—Ä—è—á–∞, ...",NaN,NaN,NaN,NaN
9,1557355981608189955,1557351055389650944,2022-08-10 16:19:34 EEST,2022-08-10,16:19:34,300,1330884405754257410,decayingoldone,üá∫üá¶lord mara van redrot (—Ä—É—Å–Ω—è –≤—ñ–¥‚Äò—ó–±–∏—Å—å)üá∫üá¶,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'neo1001101', 'name': '‚öóÔ∏è', '...",NaN,NaN,NaN,NaN